@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 180 50% 96%;
    --foreground: 180 25% 20%;
    --card: 0 0% 100%;
    --card-foreground: 180 25% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 180 25% 20%;
    --primary: 180 100% 25.1%;
    --primary-foreground: 180 10% 98%;
    --secondary: 180 30% 90%;
    --secondary-foreground: 180 100% 25.1%;
    --muted: 180 20% 94%;
    --muted-foreground: 180 10% 45%;
    --accent: 195 39.4% 60.2%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 20% 88%;
    --input: 180 20% 88%;
    --ring: 180 100% 25.1%;
    --chart-1: 180 100% 25.1%;
    --chart-2: 195 39.4% 60.2%;
    --chart-3: 180 50% 70%;
    --chart-4: 195 50% 80%;
    --chart-5: 180 30% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 180 25% 10%;
    --foreground: 180 10% 94%;
    --card: 180 25% 12%;
    --card-foreground: 180 10% 94%;
    --popover: 180 25% 10%;
    --popover-foreground: 180 10% 94%;
    --primary: 180 50% 96%;
    --primary-foreground: 180 100% 25.1%;
    --secondary: 180 20% 20%;
    --secondary-foreground: 180 10% 98%;
    --muted: 180 20% 20%;
    --muted-foreground: 180 10% 60%;
    --accent: 195 39.4% 60.2%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 20% 25%;
    --input: 180 20% 25%;
    --ring: 180 50% 70%;
    --chart-1: 180 100% 25.1%;
    --chart-2: 195 39.4% 60.2%;
    --chart-3: 180 50% 70%;
    --chart-4: 195 50% 80%;
    --chart-5: 180 30% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
